:root {
    --cor-primaria: #fff;
    --cor-required: #a4043c;
    --cor-botao: #102027; 
    --cor-botao-active: #c2185b; 
}

body {
    background-color: var(--cor-primaria);
    font-family: 'Roboto', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-caixa {
    width: 100%; 

}
legend {
    font-weight: 900;
}

.formato-tel {
    font-size: 12px;
}
.required {
    color: var(--cor-required);
    font-weight: 500;
}

.botao-enviar, .botao-limpar {
    background-color: var(--cor-botao);
    color: var(--cor-primaria);
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}


.botao-enviar:hover {
background-color: var(--cor-botao-active);
}


.botao-limpar:hover {
    background-color: var(--cor-botao-active);
}